html{
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 25px;
    width: 60%;
    height: 40px;
    line-height: 20px;

    overflow: hidden;
}

.registration-form {
    margin: auto;
    width: 45%;
}

.registration-form-title
{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 62%;
    text-align: center;
}

.info-content {
    min-height: 75px;
    line-height: 75px;
    margin: 10px;
    vertical-align: bottom;
    border: solid;
    border-width: thick;
    border-color: #880000;
}

.vertical-center {
    padding-top: 10px;
}