{% extends 'base.html.twig' %}
{% block body %}
    <div id="page">
        <div class="row marketing">
            <div class="col-lg-6">
                <div class="info-content text-center continent" id="Europe"><h3>Europe</h3></div>
                <div class="info-content text-center continent" id="Asia"><h3>Asia</h3></div>
                <div class="info-content text-center continent" id="Americas"><h3>Americas</h3></div>
            </div>

            <div class="col-lg-6">
                <div class="info-content text-center continent" id="Africa"><h3>Africa</h3></div>
                <div class="info-content text-center continent" id="Oceania"><h3>Oceania</h3></div>
            </div>
        </div>
    </div>
{% endblock %}